<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScheduleHelperService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <ScheduleHelperService.Properties.Settings>
            <setting name="cronJobs" serializeAs="String">
                <value># odd
* 0-59/3 * * * ?  *

# Even
* 2-59/3 * * * ? *</value>
            </setting>
            <setting name="secInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="exePath" serializeAs="String">
                <value>notepad</value>
            </setting>
            <setting name="exeArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="exeWorkDir" serializeAs="String">
                <value />
            </setting>
        </ScheduleHelperService.Properties.Settings>
    </applicationSettings>
</configuration>
